.button {
  cursor: pointer;
  background-color: transparent;
}


.button svg path {
  transition-duration: .5s;
}

.button:hover svg {
  fill: var(--color-light-blue);
}

.button:hover svg path {
  fill: var(--color-light-blue);
}