.typeMessage {
  background-color: var(--color-bg-main);
  padding: 21px 50px;
  display: flex;
  position: relative;
  border-top: 1px solid #303030;
  align-items: center;
}



.input::placeholder {
  color: #A0A0A0;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}