.typeMessage {
  background-color: var(--color-bg-main);
  padding: 21px 25px;
  display: flex;
  position: relative;
  border-top: 1px solid #303030;
  border-right: 1px solid #303030;
}



.input::placeholder {
  color: #A0A0A0;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width:1180px) {
  .typeMessage {
    padding: 10px 25px;
  }
}