.logo {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 15px 0 0 24px;
}



.name {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-light-blue);
  line-height: 1;
  padding-top: 6px;
}