.menuDialogs {
  height: 100%;
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #303030;
  overflow-y: auto;
  gap: 20px;
}

.menuDialogs::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-bg-main);
}

.menuDialogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-light-blue);
}

.menuDialogs::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-bg-main);
}