.authorization {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  padding: 90px 90px 135px 90px;
  gap: 50px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  background-color: var(--color-bg-main);
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
}

.link {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-light-blue);
  white-space: nowrap;
}

@media (max-width:1180px) {
  .form {
    gap: 40px;
  }
}

@media (max-width:880px) {
  .authorization {
    max-width: 500px;
    margin: 30px auto;
  }

  .form {
    gap: 30px;
    padding: 90px 70px 135px 70px;
  }
}

@media (max-width:500px) {

  .authorization {
    margin: 0 auto;
    height: 100vh;
  }

  .form {
    padding: 60px 15% 135px 15%;
    border-radius: 0;
  }

}