.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: var(--color-bg-main);
  border-radius: 15px;
}

.wrap {
  max-width: 1665px;
  padding: 20px;
  margin: 0 auto;
}