.header {
  background-color: var(--color-bg-main);
  padding: 15px 20px;
  border-bottom: 1px solid #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88px;
  border-right: 1px solid #303030;
}

.row {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width:1000px) {}