.dialogs {
  margin-top: 70px;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #303030;
}

.btn {
  color: #BCBCBC;
  position: relative;
  margin-bottom: 10px;
  background-color: var(--color-bg-main);
}