.messages {
  padding: 0 45px 10px 45px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
}



.listMessages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inView {
  background-color: transparent;
  height: 20px;
  width: 100%;
}

.notMessages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
}

.messages::-webkit-scrollbar {
  width: 5px;
  /* background-color: var(--color-bg-main); */
  background-color: #181818;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-light-blue);
}

.messages::-webkit-scrollbar-track {
  border-radius: 5px;
  /* background-color: var(--color-bg-main); */
  background-color: #181818;
}