.messages {
  padding: 0 45px 10px 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  gap: 20px;
  overflow-y: auto;
  position: relative;
}

.notMessages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
}

.messages::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-bg-main);
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-light-blue);
}

.messages::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-bg-main);
}